url.env
/app/__pycache__
/app/__pycache__
/app/routers/messages.py
/app/routers/__pycache__
/app/client.py
/app/__init__.py
node_modules/
/desafio_proxy_api/errors/__pycache__/__init__.cpython-313.pyc
/desafio_proxy_api/errors/__pycache__/messages.cpython-313.pyc
__pycache__/
*.pyc