.dados-container {
  max-width: 1000px;
  color:black;
  margin: 4rem auto;
  padding: 2rem;
  background-color:#f7f7f7;
  border-radius: 0.5rem;
}


h1, h2 {
  color:rgb(255, 252, 252);
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.wrapper{
 display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
  border-radius: 0.5rem;
  background:#2f475f;
  padding: 8rem;
}
.form-container{
 width: 100%;
  max-width: 500px;
  background-color: #fffefe;
  border-radius: 16px;
  padding: 4rem 5rem;
  color:black;
  box-shadow: 0 8px 20px rgba(233, 232, 232, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form-container input,
.form-container textarea {
  padding: 0.75rem 1rem;
  border: 1px solid #ccd6dd;
  color:black;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  background-color: #fdfdfd;
  transition: border-color 0.2s ease;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.form-container button {
  padding: 0.75rem;
  background-color: #0077cc;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: left;
}
.result{
    padding: 7rem;
    font-size: 1rem;
}